@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /***** GENERAL *****/
  ::selection {
    @apply bg-myDark text-white;
  }

  html.dark ::selection {
    @apply bg-zinc-300 text-myDark;
  }

  ::-moz-selection {
    @apply bg-myDark text-white;
  }

  html.dark ::-moz-selection {
    @apply bg-zinc-300 text-myDark;
  }

  body {
    @apply bg-slate-100 dark:bg-myDark dark:text-zinc-300;
  }

  body::-webkit-scrollbar {
    @apply w-[6px];
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-myDark/50 outline-0;
  }

  html.dark body::-webkit-scrollbar-thumb {
    @apply bg-white/25 outline-0;
  }

  body::-webkit-scrollbar-track {
    @apply bg-white/10;
  }

  html.dark body::-webkit-scrollbar-track {
    @apply bg-myDark;
  }

  /***** TYPOGRAPHY *****/
  h1 {
    @apply mb-4;
  }

  h5 {
    @apply mb-2 text-2xl font-bold;
  }

  p {
    @apply mb-4;
  }
}

/***** HEADER *****/

.hidingHeader {
  position: relative;
  --hidingHeader-height: auto;
  --hidingHeader-bounds-height: auto;
  --hidingHeader-animation-offset: 0px;
  z-index: 10;
  height: var(--hidingHeader-bounds-height);
  margin-bottom: calc(
    var(--hidingHeader-height) - var(--hidingHeader-bounds-height)
  );
  pointer-events: none;
}

.hidingHeader-in {
  position: relative;
  position: sticky;
  top: 0;
  pointer-events: auto;
  transition: transform 0.2s;
  transform: translateY(var(--hidingHeader-animation-offset));
}

@media (prefers-reduced-motion) {
  .hidingHeader-in {
    transition-duration: 1ms;
    transition-timing-function: step-end;
  }
}
