@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Rubik:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /***** GENERAL *****/

  /***** VARIABLES *****/
  :root {
    --my-cyan: 180deg 100% 50%; /* #00FFFF */
    --my-magenta: 314deg 100% 47%; /* #F000B8 */
    --my-lime: 81deg 100% 54%; /* #ADFF16 */
    --my-dark: 240deg 6% 10%; /* #18181B */
  }

  /***** FIELDS *****/
  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    /* transition: background-color 5000s ease-in-out 0s; */
  }

  input:-webkit-autofill::selection,
  input:-webkit-autofill:hover::selection,
  input:-webkit-autofill:focus::selection,
  textarea:-webkit-autofill::selection,
  textarea:-webkit-autofill:hover::selection,
  textarea:-webkit-autofill:focus::selection,
  select:-webkit-autofill::selection,
  select:-webkit-autofill:hover::selection,
  select:-webkit-autofill:focus::selection {
    -webkit-text-fill-color: white !important;
  }

  html.dark input:-webkit-autofill,
  html.dark input:-webkit-autofill:hover,
  html.dark input:-webkit-autofill:focus,
  html.dark textarea:-webkit-autofill,
  html.dark textarea:-webkit-autofill:hover,
  html.dark textarea:-webkit-autofill:focus,
  html.dark select:-webkit-autofill,
  html.dark select:-webkit-autofill:hover,
  html.dark select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75) !important;
    -webkit-box-shadow: 0 0 0px 1000px #0c0c0d inset !important;
  }

  html.dark input:-webkit-autofill::selection,
  html.dark input:-webkit-autofill:hover::selection,
  html.dark input:-webkit-autofill:focus::selection,
  html.dark textarea:-webkit-autofill::selection,
  html.dark textarea:-webkit-autofill:hover::selection,
  html.dark textarea:-webkit-autofill:focus::selection,
  html.dark select:-webkit-autofill::selection,
  html.dark select:-webkit-autofill:hover::selection,
  html.dark select:-webkit-autofill:focus::selection {
    -webkit-text-fill-color: black !important;
  }

  ::selection {
    @apply bg-myDark text-white;
  }

  html.dark ::selection {
    @apply bg-zinc-300 text-myDark;
  }

  ::-moz-selection {
    @apply bg-myDark text-white;
  }

  html.dark ::-moz-selection {
    @apply bg-zinc-300 text-myDark;
  }

  body {
    @apply bg-slate-100 font-mono dark:bg-myDark dark:text-zinc-300;
  }

  ::-webkit-scrollbar {
    @apply w-[8px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-myDark/50 outline-0;
  }

  html.dark ::-webkit-scrollbar-thumb {
    @apply bg-white/25 outline-0;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white/10;
  }

  html.dark ::-webkit-scrollbar-track {
    @apply bg-myDark;
  }

  /***** INPUTS *****/
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply mb-2 block w-full cursor-auto border-0 p-4 focus:ring-1 focus:ring-myDark dark:bg-black/50 dark:text-white/75 dark:focus:ring-myLime;
  }

  /***** TYPOGRAPHY *****/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }

  h1 {
    @apply mb-4 text-6xl;
  }

  h2 {
    @apply mb-3 text-5xl;
  }

  h3 {
    @apply mb-3 text-4xl;
  }

  h4 {
    @apply mb-3 text-3xl;
  }

  h5 {
    @apply mb-2 text-2xl;
  }

  h6 {
    @apply mb-1 text-xl;
  }

  p {
    @apply mb-4;
  }
}

/***** HEADER *****/

.hidingHeader {
  position: relative;
  --hidingHeader-height: auto;
  --hidingHeader-bounds-height: auto;
  --hidingHeader-animation-offset: 0px;
  z-index: 10;
  height: var(--hidingHeader-bounds-height);
  margin-bottom: calc(
    var(--hidingHeader-height) - var(--hidingHeader-bounds-height)
  );
  pointer-events: none;
}

.hidingHeader-in {
  position: relative;
  position: sticky;
  top: 0;
  pointer-events: auto;
  transition: transform 0.2s;
  transform: translateY(var(--hidingHeader-animation-offset));
}

@media (prefers-reduced-motion) {
  .hidingHeader-in {
    transition-duration: 1ms;
    transition-timing-function: step-end;
  }
}

/***** TOAST *****/
.toast-success {
  @apply bg-myLime/80 text-sm font-bold text-myDark shadow-lg backdrop-blur-sm !important;
}

.toast-error {
  @apply bg-myMagenta/80 text-sm font-bold text-white shadow-lg backdrop-blur-sm !important;
}
